*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
  padding: 20px;
  color: white;
  background-color: #131620;
  text-align: center;
}

header.navbar-container {
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  background-color: #131620;
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  z-index: 9999;
}
 
header.navbar-container .logo img {
  width: 110px;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 350;
  color: white;
  transition: 0.3s ease;
}

header.navbar-container .nav-list li:hover a {
    font-weight: bold;
    width: 100%;
}

.landing {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 8rem 2rem;
    display: flex;
    align-items: center;
}

.landing .landing-description {
  flex: 1 1;
  animation: fadein 0.5s ease-in forwards;
}

.landing .landing-description .title {
  margin-block: 1rem;
  font-size: 3.5rem;
  animation: fadein 0.5s ease-in forwards;
}

.landing .landing-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  animation: fadein 0.5s ease-in forwards;
}

.landing .landing-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-block-start: 1rem;
  background-color: #131620;
  font-family: 'Red Hat Display', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.landing .landing-description button:hover {
  border: 3px solid #131620;
  background-color: transparent;
  color: #132620;
}

.landing .landing-image {
  flex: 1;
  display: flex;
  animation: fadein 0.5s ease-in forwards;
}

.landing .landing-image img {
  width: 450px;
  min-width: 250px;
  margin: auto;
}

.content {
  padding: 5px;

  width:fit-content;
  display: flex;
  
  gap: 8px;
  animation: fadein 0.5s ease-in forwards;
}

.card {
  box-shadow: 2px 4px 8px 0 #02020263;
  border-radius: 5px;
 
  padding:5rem 0rem 5rem;
}

.card h2 {
  text-align: center; 
  font-size: 1.8rem; 
  font-weight: bold; 
  margin-bottom: 2rem; 
}

.card p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
  padding: 0rem 15rem;
}

@media (max-width: 900px) {
  .landing {
    flex-direction: column; /* Mengubah arah flex menjadi kolom */
    align-items: center; /* Memusatkan konten */
  }

  .landing .landing-image {
    flex: 0 0 50%; /* Mengatur ukuran gambar menjadi 50% dari ukuran awal */
    display: flex;
    justify-content: center; /* Memusatkan gambar */
  }

  .landing .landing-image img {
    width: 50%; /* Mengatur lebar gambar menjadi 50% */
    min-width: 125px; /* Sesuaikan min-width jika diperlukan */
  }

  .landing .landing-description {
    margin-top: 20px; /* Memberikan jarak antara gambar dan deskripsi */
    text-align: center; /* Memusatkan teks deskripsi */
    flex: 1; /* Mengizinkan deskripsi untuk mengambil ruang yang tersisa */
  }

  .card p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0rem 3rem;
  }
}

.team-section {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f9f9f9;
  animation: fadein 0.5s ease-in forwards;
}

.team-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #131620;
}

.team-cards {
  display: flex;
  justify-content: center; /* Memastikan card-card ada di tengah */
  align-items: flex-start; /* Card sejajar di atas */
  flex-wrap: wrap; /* Agar card turun ke baris berikutnya jika layar sempit */
  gap: 2rem; /* Jarak antar-card */
  max-width: 1200px; /* Memberikan batas maksimal lebar */
  margin: 0 auto; /* Memusatkan secara horizontal */
}

.team-card {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  width: 300px; /* Lebar setiap card */
}

.team-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.team-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.team-card p {
  font-size: 1rem;
  color: #555;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .team-cards {
    flex-direction: column; /* Semua card diatur vertikal */
    align-items: center;
  }
}

/* ScanStatus Container */
/* Hafiz: aku nambahkan sebuah transisi fade in menggunakan framekey*/
.scan-status {
  padding: 2rem 2rem;
  margin: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 2px 4px 8px #0000001a;
  text-align: center;
  opacity: 0;
  animation: fadein 0.5s ease-in forwards;
}

/* Input URL */
.scan-status input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.scan-status input:focus {
  border-color: #2563eb; /* Warna biru saat fokus */
}

/* Button untuk Scan */
.scan-status button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-block-start: 1rem;
  background-color: #131620;
  font-family: 'Red Hat Display', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.scan-status button:hover {
  border: 3px solid #131620;
  background-color: transparent;
  color: #131620;}

.scan-status button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* Status Indicator */
.scan-status .status {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.scan-status .status.text-green-500 {
  color: #22c55e; /* Hijau untuk status completed */
}

.scan-status .status.text-red-500 {
  color: #ef4444; /* Merah untuk status failed */
}

.scan-status .status.text-yellow-500 {
  color: #eab308; /* Kuning untuk status pending */
}

.scan-status .status.text-blue-500 {
  color: #081fea; /* Kuning untuk status running */
}

.scan-status .status.text-gray-500 {
  color: #6b7280; /* Abu-abu jika status tidak ada */
}

/*Scan Lists*/
.table-container {
  padding: 15px;
  width: 100%; /* Sesuaikan tabel dengan lebar layar */
  display: flex;
  justify-content: center; /* Untuk memusatkan konten */
  animation: fadein 0.5s ease-in forwards;
}

.table-card {
  box-shadow: 2px 4px 8px 0 #02020263;
  border-radius: 5px;
  padding: 2rem; /* Kurangi padding agar lebih proporsional */
  width: 100%; /* Pastikan card mengisi kontainer */
  margin: 0 auto; /* Memusatkan secara horizontal */
  overflow-x: auto; /* Menambahkan scroll horizontal jika konten terlalu besar */
}

.table-card table {
  width: 100%; /* Tabel mengisi card secara penuh */
  border-collapse: collapse;
  text-align: center;
}

.table-card h1 {  
  text-align: center; 
  font-size: 1.8rem; 
  font-weight: bold; 
  margin-bottom: 2rem; 
}

.table-card th,
.table-card td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.table-card th {
  background-color: #f4f4f9;
  font-weight: bold;
  color: #333;
}

.table-card tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-card tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-card tr:hover {
  background-color: #eaf6ff;
}

.table-card button {
  margin: 2px;
  padding: 8px 16px;
  border: 3px solid transparent;
  border-radius: 5px;
  /*background-color: #d40000;*/
  font-family: 'Red Hat Display', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.table-card .view-button:hover {
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
}

.table-card .view-button:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.table-card .view-button{
  background-color: #007bff;
  border: 2px solid #007bff;
}

.table-card .delete-button{
  background-color: #ff4d4d;
  border: 2px solid #ff4d4d;
}

.table-card .delete-button:hover {
  border: 2px solid #ff4d4d;
  background-color: transparent;
  color: #ff4d4d;
}

.table-card .delete-button:focus {
  outline: none;
  box-shadow: 0 0 5px #ff4d4d;
}

@media (max-width: 768px) {
  .table-card {
    padding: 1rem; /* Kurangi padding untuk layar kecil */
  }

  .table-card table {
    font-size: 0.9rem; /* Kurangi ukuran font untuk layar kecil */
  }
}

/*Scan-Details*/
.scan-details {
  padding: 20px;
  font-family: Arial, sans-serif;
  animation: fadein 1s ease-in forwards;
}

.test-details {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.test-details p {
  margin: 5px 0;
}

.test-details pre {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.test-details pre.scrollable {
  max-height: 150px; /* Sesuaikan tinggi maksimal */
  overflow-y: auto; /* Tambahkan scrollbar vertikal */
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.create-report-button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #08ac03;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.create-report-button:hover {
  background-color: green;
}

.error-container, .no-details-container {
  text-align: center;
  margin-top: 50px;
}

.error-message {
  color: red;
}

/* Mengubah tampilan scrollable area */
.test-details pre.scrollable {
  max-height: 150px;
  overflow-y: scroll;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Mengubah tampilan scrollbar */
.test-details pre.scrollable::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
  height: 8px; /* Lebar scrollbar horizontal */
}

/* Track scrollbar */
.test-details pre.scrollable::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna latar belakang track */
  border-radius: 4px;
}

/* Handle scrollbar */
.test-details pre.scrollable::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Warna handle scrollbar */
  border-radius: 4px;
  border: 2px solid #f1f1f1; /* Memberikan efek border pada handle */
  transition: background-color 0.3s ease;
}

/* Hover efek pada handle */
.test-details pre.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Warna handle saat di-hover */
}

/* Scrollbar corner (jika ada) */
.test-details pre.scrollable::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Custom scrollbar pada scrollbar horizontal */
.test-details pre.scrollable::-webkit-scrollbar-horizontal {
  height: 8px;
}

/* loading */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Memenuhi seluruh tinggi layar */
  background-color: #f9f9f9;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Warna luar spinner */
  border-top: 5px solid #007bff; /* Warna utama spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/*Keyframes animation*/
@keyframes fadein{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-green-500 {
  color: #22c55e; /* Hijau untuk status completed */
}

.text-red-500 {
  color: #ef4444; /* Merah untuk status failed */
}

.text-yellow-500 {
  color: #eab308; /* Kuning untuk status pending */
}

.text-blue-500 {
  color: #081fea; /* Kuning untuk status running */
}

.text-gray-500 {
  color: #6b7280; /* Abu-abu jika status tidak ada */
}

/* Login Section */

.login {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(90vh - 80px);
  animation: fadein 0.5s ease-in forwards;
}

/*.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image .logo {
  max-width: 100%;
  height: auto;
}
*/
.login-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  max-height: 500px;
  border: 1px solid #ddd;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.login-card-description {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.form-control:focus {
  border-color: #000;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #444;
}

.login-card-footer-text {
  text-align: center;
  margin-top: 15px;
  color: #555;
}

.login-card-footer-text a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.login-card-footer-text a:hover {
  text-decoration: underline;
}